<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Assets/Styles/home_styles/nav_footer.css">
    <link rel="stylesheet" type="text/css" href="../Assets/Styles/home_styles/home_welcom.css">
    <link rel="stylesheet" type="text/css" href="../Assets/Styles/home_styles/home_events.css">
    <script src="../Assets/Js/home.js"></script>
    <script src="../Assets/Js/home.js"></script>
    <script src="../Assets/Js/register.js"></script>
    <script src="../Assets/Js/login.js"></script>
    <link rel="stylesheet" type="text/css" href="../Assets/Styles/styles_events/edit_perfil.css">
    <title>Editar Perfil</title>
    <link rel="shortcut icon" href="../Assets/img/logo.png" type="image/x-icon">
</head>
<body>
    <div class="nav">
        <div class="logo"><a href="../index.html"><img src="../Assets/img/title.png"></a></div>
        <nav class="nav_links">
            <ul class="nav-menus">
                <li class="menu">
                    <button id="btn" class="menu-btn" aria-haspopup="true" aria-expanded="false">
                        Eventos ▾
                    </button>
                    <div class="menu-content">
                        <a href="eventos.html">Eventos próximos y pasados</a>
                        <a href="crear_evento.html">Crear un evento</a>
                        <a href="mi_evento.html">Mis eventos</a>
                    </div>
                </li>
                <li class="menu">
                    <button id="btn" class="menu-btn" aria-haspopup="true" aria-expanded="false">
                        Reservaciones ▾
                    </button>
                    <div class="menu-content">
                        <a href="reservar.html">Reservar evento</a>
                        <a href="historial_r.html">Historial de reservaciones</a>
                    </div>
                </li>
                <li><button class="menu-btn"><a href="calendario.html">Calendario</a></button></li>
            </ul>
        </nav>
    </div>
    <br>
    <h1>Actualiza tu Información</h1>

    <div class="card">
        <div class="avatar-container">
            <svg class="avatar-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="12" fill="white"/>
                <path d="M12 12C14.21 12 16 10.21 16 8C16 5.79 14.21 4 12 4C9.79 4 8 5.79 8 8C8 10.21 9.79 12 12 12ZM12 14C9.33 14 4 15.34 4 18V20H20V18C20 15.34 14.67 14 12 14Z" fill="#555"/>
            </svg>
        </div>
        <div class="car_info">
            <form>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre"><br>
            <div class="error-txt"></div><label for="email-reg">Correo</label>
            <input type="email" id="email-reg" name="email" placeholder="Ejem: correo@gmail.com">
            <div class="error-txt"></div><label for="pass-reg">Contraseña</label>
                                
            <div class="password-wrapper">
            <input type="password" id="pass-reg" name="pass-reg">
            <!-- <img src="Assets/img/pass2.png" class="pass_icon"> -->
            </div>

            <button type="button" class="btn-save"><a href="">Guardar Cambios</a></button>
            <button type="button" class="btn-cancel"><a href="../views/perfil.html">Cancelar</a></button>
        </form>
        </div>
    </div>
    <br>
    <div id="footer">
        <footer class="footer">
            <div class="footer_content">
                <div class="name">
                    <img src="../Assets/img/title.png">
                </div>
                <div class="contact_info">
                    Contáctanos 
                    <br>
                    Av. Calle falso #1234
                    <br>
                    <a href="mailto: Agoraeventos@correofalso.com">Agoraeventos@correofalso.com</a>
                    <br>
                    012 000 45-150 
                    <br>
                    <br>
                    © 2025 Agora Todos los derechos reservados.
                </div>
                <div class="div_3"></div>
            </div>
        </footer>
    </div>
</body>
</html>