<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Assets/Styles/home_styles/nav_footer.css">
    <link rel="stylesheet" type="text/css" href="../Assets/Styles/home_styles/home_welcom.css">
    <link rel="stylesheet" type="text/css" href="../Assets/Styles/home_styles/home_events.css">
    <script src="../Assets/Js/home.js"></script>
    <title>Agora Eventos</title>
    <link rel="shortcut icon" href="../Assets/img/logo.png" type="image/x-icon">
</head>
<body>
    <div class="nav">
        <div class="logo"><a href="../index.html"><img src="../Assets/img/title.png"></a></div>
        <nav class="nav_links">
            <ul class="nav-menus">
                <li class="menu">
                    <button id="btn" class="menu-btn" aria-haspopup="true" aria-expanded="false">
                        Eventos ▾
                    </button>
                    <div class="menu-content">
                        <a href="eventos.html">Eventos próximos y pasados</a>
                        <a href="crear_evento.html">Crear un evento</a>
                        <a href="mi_evento.html">Mis eventos</a>
                    </div>
                </li>
                <li class="menu">
                    <button id="btn" class="menu-btn" aria-haspopup="true" aria-expanded="false">
                        Reservaciones ▾
                    </button>
                    <div class="menu-content">
                        <a href="reservar.html">Reservar evento</a>
                        <a href="historial_r.html">Historial de reservaciones</a>
                    </div>
                </li>
                <li><button class="menu-btn"><a href="calendario.html">Calendario</a></button></li>
            </ul>
        </nav>
    </div>
    <section class="info_main_e">
        <div class="info_e">
            <div class="cont_img_e">
                <img src="../Assets/img/img_home_2.png">

                <div class="info_img_e">
                    <h1>Tu Escenario, Tu Evento.</h1>
                    <p>Encuentra, crea y gestiona eventos que inspiran.</p>
                    <ul>
                        <li>Descubre y asiste: Conciertos, conferencias, bodas y más.</li>
                        <li>Crea en minutos: Arma tu propio evento fácilmente.</li>
                        <li>Gestión amigable: Gestiona y administra tus eventos.</li>
                    </ul>
                    <div class="buttons">
                        <button class="button_1">Empieza a crear tu evento ahora</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="info_main_2e">
        <h2>Explora y reserva el evento ideal</h2>
        <p>¡Encuentra el evento perfecto para ti!</p>
    </section>
    <br>
        <div id="footer">
        <footer class="footer">
            <div class="footer_content">
                <div class="name">
                    <img src="../Assets/img/title.png">
                </div>
                <div class="contact_info">
                    Contáctanos 
                    <br>
                    Av. Calle falso #1234
                    <br>
                    <a href="mailto: Agoraeventos@correofalso.com">Agoraeventos@correofalso.com</a>
                    <br>
                    012 000 45-150 
                    <br>
                    <br>
                    © 2025 Agora Todos los derechos reservados.
                </div>
                <div class="div_3"></div>
            </div>
        </footer>
    </div>
</body>
</html>