body {
    font-family: Arial, sans-serif;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none; 
    align-items: center;
    justify-content: center;
}

.modal-contenido {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    position: relative;
}

.cerrar{
    color: #aaa;
    position: absolute; 
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.cerrar:hover {
    color: #333;
}


h3 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f7f7f7;
}

input.error-field {
    border-color: red;
    background-color: #fee;
}
.error-msg {
    color: red;
    font-size: 0.9em;
    display: block;
    margin-top: -10px;
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
}

.btn-primario {
    background-color: #28a745;
    color: white;
}

.btn-secundario {
    background-color: #6c757d;
    color: white;
}

.toggle-seccion {
    text-align: center;
    margin-top: 5px;
    padding: 40px;
}

.toggle-seccion span {
    display: block;
    margin-bottom: 10px;
    color: #888;
}

.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input[type="password"],
.password-wrapper input[type="text"] {
    padding-right: 40px; 
}

.pass_icon {
    position: absolute;
    right: 5; 
    top: 50%;
    transform: translateY(-50%);
    transform: translateX(-130%);
    cursor: pointer;
    width: 20px;
}

.pass_icon_2 {
    position: absolute;
    right: 5; 
    top: 50%;
    transform: translateY(-130%);
    transform: translateX(-100%);
    cursor: pointer;
    width: 20px;
}

input.success {
    border: 2px solid #28a745;
}

input.error {
    border: 2px solid #dc3545;
}

.error-txt {
    color: #dc3545;
    font-size: 0.9em;
    font-weight: bold;
    height: 1.2em;
    margin-top: -10px;
    margin-bottom: 10px;
}