* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 40px;
    color: #000;
    text-align: center;
}

.card {
    background-color: #dcdcdc;
    height: auto;
    width: 350px;
    padding: 112px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.avatar-container {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}

.avatar-icon {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.1));
}

form {
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 15px;
    color: #000;
}

input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #333;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}

input.input-error {
    border: 2px solid red;
    color: #000;
}

.error-msg {
    color: red;
    font-size: 11px;
    display: block;
    margin-top: 3px;
    font-weight: 500;
}

.password-wrapper {
    position: relative;
    width: 100%;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #000;
}

.btn-save {
    background-color: #1eb846; 
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px; 
    padding: 10px 20px;
    width: 100%; 
    max-width: 180px;
    margin: 20px auto 0 auto;
    display: block;
    cursor: pointer;
    font-size: 14px;
}

.btn-cancel {
    background-color: #eb0000; 
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px; 
    padding: 10px 20px;
    width: 100%; 
    max-width: 180px;
    margin: 20px auto 0 auto;
    display: block;
    cursor: pointer;
    font-size: 14px;
}

.btn-save:hover {
    background-color: #179b3a;
}

.btn-cancel:hover {
    background-color: #811304;
}